@import "tailwindcss/preflight";
@tailwind utilities;

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html[dir="rtl"] .reverse {
  transform: scaleX(-1);
}

html[dir="rtl"] input,
html[dir="rtl"] textarea {
  direction: rtl;
}

html[dir="rtl"] .noMl::after {
  margin-left: 0 !important;
}

a {
  text-decoration: none;
}

.collapse {
  visibility: visible !important;
}

html[dir="rtl"] .navpos,
html[dir="rtl"] .theme-details-one .similar-property .slick-dots {
  right: auto !important;
  left: 0 !important;
}

html[dir="rtl"] .theme-details-one .property-feature-list ul li:before {
  right: -25px;
  left: auto;
}

.prop-map-container {
  min-height: 500px !important;
}

@media (min-width: 992px) {
  .lggin-btn-descktop {
    display: block !important;
  }

  .prop-map-container {
    min-height: 1300px !important;
  }
}

.accordion-button::after {
  margin-inline-start: auto !important;
  margin-inline-end: 0 !important;
}

.login-btn.btn-one:hover {
  color: #ff6725 !important;
}

.btn-one.lang {
  width: fit-content !important;
  min-width: 50px !important;
  padding: 3px 0px !important;
}
.btn-one.lang:hover,
.btn-one.lang:focus {
  background-color: #fff !important;
  color: #ff6725 !important;
}

.sell-rent-buttons {
  top: -20px !important;
}

@media (max-width: 1400px) {
  .sell-rent-buttons {
    top: -28px !important;
  }
}

@media (max-width: 992px) {
  .hided-in-mobile {
    display: none !important;
  }

  .pro-list-map {
    position: sticky !important;
  }

  .sell-rent-buttons {
    top: -30px !important;
  }
}

.list-style-two .aminity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-style-two .aminity:before {
  content: none;
  color: none;
  display: none;
}